[submodule "biopet-common-utils"]
	path = biopet-common-utils
	url = https://github.com/biopet/biopet-common-utils.git
[submodule "biopet-tool-utils"]
	path = biopet-tool-utils
	url = https://github.com/biopet/biopet-tool-utils.git
[submodule "biopet-ngs-utils"]
	path = biopet-ngs-utils
	url = https://github.com/biopet/biopet-ngs-utils.git
[submodule "biopet-config-utils"]
	path = biopet-config-utils
	url = https://github.com/biopet/biopet-config-utils.git
[submodule "biopet-summary-utils"]
	path = biopet-summary-utils
	url = https://github.com/biopet/biopet-summary-utils.git
[submodule "biopet-test-utils"]
	path = biopet-test-utils
	url = https://github.com/biopet/biopet-test-utils.git
