[submodule "biopet-common-utils"]
    branch = develop
	path = biopet-common-utils
	url = https://github.com/biopet/biopet-common-utils.git
[submodule "biopet-tool-utils"]
    branch = develop
	path = biopet-tool-utils
	url = https://github.com/biopet/biopet-tool-utils.git
[submodule "biopet-ngs-utils"]
    branch = develop
	path = biopet-ngs-utils
	url = https://github.com/biopet/biopet-ngs-utils.git
[submodule "test-utils"]
    branch = develop
	path = test-utils
	url = https://github.com/biopet/test-utils.git
[submodule "biopet-spark-utils"]
    branch = develop
	path = biopet-spark-utils
	url = https://github.com/biopet/biopet-spark-utils.git
